/* --------------- VARIABLES ---------- */

:root {

    /* COLORS */ 
    --primary-color: #2E0BFF;
    --secondary-color: #1A1D20;
    --dark-mode-primary-color: #F8648E;
    --dark-mode-text-color: #fff;
    --background-color: #fff;
    --border-color: #E9F1F3;
    --border-success: #2ecc71;
    --border-error: #e74c3c;

}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.primary-heading {
    text-align: center;
    margin: 0 0 20px;
    color: var(--primary-color);
}

.form-img {
    text-align: center;
}

img {
    width: 200px;
}

.form-container {
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.form {
    padding: 40px 60px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: var(--secondary-color);
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: var(--primary-color);
}

.form-control.success input {
    border-color: var(--border-success);
}

.form-control.error input {
    border-radius: var(--border-error);
}

