/* --------------- VARIABLES ---------- */

:root {

    /* COLORS */ 
    --primary-color: #2E0BFF;
    --secondary-color: #1A1D20;
    --dark-mode-primary-color: #F8648E;
    --dark-mode-secondary-color: #fff;

}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
}


img {
    width: 250px;
}